ul ol{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}
li{
    list-style-position: inside;
}
ol li{
    list-style-type: decimal-leading-zero;

}
ul li{
    list-style: square;
}
.decorated li{
    list-style-image: url(snow.png);
    font-size: 30px;
}