body{
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 2em;
    color: #ddd;
    text-shadow: 1px 2px 3px #666;
    text-transform: uppercase;
}
h2{
    font-size: 1.5em;
    color: #ddd;
    text-shadow: 1px 2px 3px #666;
    text-transform: uppercase;
}
p{
    line-height: 1.4em;
    text-indent: 0.8em;
}
.main{
    text-align: justify;
}
.bold{
    font-weight: bold;
    color: coral;
}
#quote{
    letter-spacing: 2px;
    font-style: italic;
    color: darkcyan;
}
.last{
    text-align: right;
    color:red;
}
.wrong{
    text-decoration: line-through;
    font-weight: 700px;
    font-size: 1.2em;
}
.google {
    font-family: Merriweather family;
    font-size: 1.6em;
    color: purple;
}